.container{
    height: 100vh;
    overflow-x: hidden; 
    overflow-y: scroll; 
    width: 100vw;
   
}

.containerAbout{
    display: flex; 
    justify-content: center;
    align-items: center;
    padding: 100px;
}

.img{
    height: 600px;
    width: 100%;
    margin-top: 80px;
}
.img img{
    height: 100%;
    width: 100%;
}

.about{
 margin-left: 20px;
 font-size: 20px;
}

.btn_container{
 display: flex;
 justify-content: center;
 align-items: center;
 margin-top: 10px;

}
.btn{
    width: 250px;
    padding: 15px 50px;
    font-size: 18px;
    border: 1px solid black;
    outline: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.2s 
}

.btn:hover{
    box-shadow: inset 250px 0 0 0 black;
    color: #fff;
}

@media (max-width: 960px){
    .containerAbout{
        flex-direction: column;
        overflow: scroll;
    }

    .img{
        height: 300px;
        width: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        /*margin-top: 200px */
    }

    .about{
        margin-left: 0px;
        font-size: 15px;
        margin-top: 35px;
       }
}

@media (max-width: 550px){
    .containerAbout{
        padding: 0px;}
    .img{
        height: 400px;
        width: 300px;
       
    }

    .about{
        margin-left: 20px;
       }
}

@media (max-width: 400px){
    .containerAbout{
        padding: 0px;}
    .img{
        height: 400px;
        width: 300px;
       /* margin-top: 480px */
    }

    .about{
        margin-left: 20px;
       }
}